ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.card {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #34373e;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    color: white;
}

button {
    padding: 5px 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
}



.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

img {
    width: 150px;
    height: auto;
    object-fit: cover;
}

p {
    font-size: 14px;
    color: white;
}

.random-title {
    font-size: 14px;
    margin: 0;
}

.random-year {
    margin: 5px 0;
    color: #888;
}