/* Common styles */
.movie-details {
  display: flex;
  justify-content: center;
}

.movie-info {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; /* Adjusted width */
  max-width: 600px; /* Added max-width for larger screens */
  margin: 0 auto; /* Center the container */
}

.movie-title-big {
  font-size: 24px;
  margin-bottom: 10px;
}

.moviePoster {
  width: 100%; /* Adjusted width */
  max-width: 190px; /* Added max-width for larger screens */
  height: auto;
  margin-bottom: 20px;
}

.genres {
  margin-bottom: 10px;
  display: flex;
  user-select: none;
  flex-wrap: wrap;
  justify-content: center;
}

.genres-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.genre {
  display: inline-block;
  padding: 4px 8px;
  margin: 3px;
  background-color: #08591b;
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer;
}

.genre:hover {
  background-color: #04d134;
  color: #08591b;
}

.release-date {
  margin-bottom: 10px;
}

.overview {
  width: auto;
  max-width: 100%; /* Adjusted max-width */
}

.overview p {
  margin: 20px 10px; /* Adjusted margin */
}

.movie-text {
  width: 100%; /* Adjusted width */
  max-width: 500px; /* Added max-width for larger screens */
  font-size: 13px;
}

.budget {
  font-size: 13px;
}

/* Button styles */
.notfavorited,
.favorited {
  padding: 10px;
  margin-bottom: 8px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.notfavorited {
  color: #04d134;
  background-color: #08591b;
}

.notfavorited:hover {
  background-color: #04d134;
  color: #08591b;
}

.favorited {
  background-color: rgb(125, 30, 30);
  color: white;
}

.favorited:hover {
  background-color: red;
}

/* Responsive Media Queries */
@media screen and (max-width: 820px) {
  .overview p {
    margin: 20px 10px; /* Adjusted margin */
  }

  .genre {
    font-size: smaller; /* Adjusted font size */
    padding: 2px 6px; /* Adjusted padding */
  }
}

@media screen and (max-width: 460px) {
  .genre {
    font-size: 11px;
    padding: 2px 4px; /* Adjusted padding */
  }
}
