.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movie-card {
  display: flex;
  flex-direction: row;
  margin: 35px 0px 45px 0px;
}

.main-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.block-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overview {
  width: 500px;
}

.moviePoster {
  width: 190px;
  height: auto;
  margin-right: 20px;
}

.line {
  width: 710px;
}

.notfavorited {
  color: #04d134;
  background-color: #08591b;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 14px;
}

.notfavorited:hover {
  background-color: #04d134;
  color: #08591b;
}

.favorited {
  background-color: rgb(125, 30, 30);
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 8px;
  font-size: 14px;
}

.favorited:hover {
  background-color: red;
}

.infos-second {
  display: flex;
  flex-direction: row;
  margin: 30px 0px 30px 0px;
  text-align: center;
}

.director {
  margin-right: 35px;
}

.cast {
  margin-right: 35px;
}

.genres-box {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.genres {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;
  justify-content: center;
}

.title-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.genre {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 3px;
  margin-left: 3px;
  margin-bottom: 6px;
  background-color: #08591b;
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer;
}

.genre:hover {
  background-color: #04d134;
  color: #08591b;
}

/* Responsive Media Queries */
@media screen and (max-width: 600px) {
  .movie-card {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .line {
    width: 300px;
  }

  .main-infos {
    margin: 20px 0;
  }

  .block-1 {
    flex-direction: column;
  }

  .overview {
    max-width: 350px;
    margin: 20px 10px;
  }

  .movie-text p {
    margin: auto;
  }

  .moviePoster {
    max-width: 100%;
    margin: 0 auto 20px;
  }

  .line {
    max-width: 100%;
    margin: 0 auto;
  }

  .infos-second {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .director,
  .cast,
  .genres-box {
    margin: 10px 0;
  }

  .genres {
    justify-content: center;
  }

  .title-label {
    margin-bottom: 5px;
  }

  .genre {
    margin: 3px;
  }

  .notfavorited,
  .favorited {
    width: auto;
    text-align: center;
    margin: 5px;
    margin-bottom: 20px;
  }
}