.containerPP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.containerPP hr {
  width: 300px;
}

.titlePP {
  margin-top: 20px;
}

.imagePP {
  width: 200px;
  height: auto;
  margin-top: 20px;
}

.bioPP {
  margin-top: 20px;
  font-size: 15px;
  width: 50%;
}

.infoPP {
  margin-top: 3px;
}

.infoPP a {
  text-decoration: none;
  color: #04d134;
}

.moviePP {
  font-size: 17px;
  transition: transform 0.2s;
}

.moviePP:hover {
  cursor: pointer;
  transform: scale(1.08);
  color: #04d134;
}

h2 {
  margin-top: 20px;
}

.loading {
  margin-top: 20px;
}
